<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.7" targetFramework="net40" />
  <package id="ApprovalUtilities" version="3.0.7" targetFramework="net40" />
  <package id="Nancy" version="0.23.0" targetFramework="net40" />
  <package id="Nancy.Testing" version="0.23.0" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
</packages>